*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes hide {
  to {
    margin: 0;
    opacity: 0;
  }
}

@keyframes show {
  from {
    margin: 0;
    opacity: 0;
  }

  to {
    margin: 0 0 50px 0;
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #e6ccbb;
  border: none;

  display: block;

  width: 50px;
  height: 50px;

  cursor: pointer;
  border-radius: 25%;
}

.game-area {
  height: 100vh;

  display: grid;
  justify-content: center;
  align-items: center;

  background-color: #efeae6;
  color: #182325;
}

.game-area_tittle {
  margin: 0 0 50px 0;
  padding: 0;
  text-align: center;

  animation-duration: 1s;
  animation-fill-mode: forwards;

  font-size: 35px;
}

.game-area_canvas {
  width: auto;
  padding: 10px;
  border-radius: 15px;

  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  gap: 10px;

  background-color: #e6ccbb;
}

.flip-card {
  width: 150px;
  height: 150px;
  cursor: pointer;
  perspective: 1000px;
  border-radius: 15%;
}

.flip-card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card_front,
.flip-card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15%;
}

.flip-card__flipped {
  transform: rotateY(180deg);
}

.flip-card_front {
  background-color: #c08f67;
}

.flip-card_back {
  background-color: #b4c5cc;
  transform: rotateY(180deg);

  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;

  font-size: 25px;
}

.flip-card_back__cross::before,
.flip-card_back__cross::after {
  content: "";

  position: absolute;

  width: 15%;
  height: 90%;

  border-radius: 15px;
  background-color: #664845;
}

.flip-card_back__cross::before {
  transform: rotate(45deg);
}

.flip-card_back__cross::after {
  transform: rotate(-45deg);
}

.flip-card_back__circle::before,
.flip-card_back__circle::after {
  content: "";

  position: absolute;

  border-radius: 50%;
}

.flip-card_back__circle::before {
  width: 75%;
  height: 75%;

  background-color: #af8d8b;
}

.flip-card_back__circle::after {
  width: 50%;
  height: 50%;

  background-color: inherit;
}

.flip-card_back__play::before {
  content: "";

  position: absolute;

  margin-left: 5px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #c08f67;
}

.flip-card__hit {
  box-shadow: inset 0 0 50px 10px #c33124;
}

.game-area_reset-button {
  margin: 50px auto 0;
}

.game-area_reset-button svg {
  margin-top: 5px;
  fill: #c08f67;
}

.game-area_reset-button:hover svg {
  animation-duration: 1s;
  animation-name: rotate;
}
